    <div class="header">
        <a href="#" class="nav-trigger"><span></span></a>
        <a [routerLink]="['/login']" class="nav-signout">
        <span><i class="fa fa-sign-out"></i></span>
        <span>Logout</span>
        </a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>FBATracker</span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <span><i class="fa fa-tachometer"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fa fa-product-hunt"></i></span>
                        <span>Products</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span><i class="fa fa-money"></i></span>
                        <span>Sales</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fa fa-user"></i></span>
                        <span>Account</span>
                    </a>
                </li>
                 <li class="mobile-signout">
                    <a [routerLink]="['/login']">
                        <span><i class="fa fa-sign-out"></i></span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<div class="main-content">
            <div class="title">
                Dashboard
            </div>
            <div class="main">
                <div class="widget">
                    <div class="title">Number of items</div>
                    <div class="chart"></div>
                </div>
                <div class="widget">
                    <div class="title">Expenses</div>
                    <div class="chart"></div>
                </div>
                <div class="widget">
                    <div class="title">Profit</div>
                    <div class="chart"></div>
                </div>
            </div>
        </div>