* {
	box-sizing: border-box;
}
body {
	margin: 0;
	paddin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.loader {
	border: 9px solid #38454e;
    border-radius: 350%;
    border-top: 9px solid #dff0d8;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
    position: absolute;
    /* height: 100px; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.container { max-width: 360px; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }

/*
 * Darkgreen navbar style
 */
#navbar-darkgreen.navbar-default { /* #006633 - #009933 */
    font-size: 14px;
    background-color: #1d2127;
    border: 0px;
  	border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

#dashboard-darkgreen {
	background-color: #1d2127;
}

.dashboard-nav {
	left: 0;
    list-style: none;
    height: 100%;
    position: fixed;
    width: 170px;
    padding-top: 10px;
}

@media (min-width: 768px) {
  #page-wrapper5 {
    margin-top: 50px;
  	margin-left: 170px;
    min-height: 1000px;
  	}
  }